@tailwind base;
/* @tailwind components; #282c34 */
@tailwind utilities;

:root {
  --dblue: #14171c;
  --lblue: #344d6c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(https://uploads.codesandbox.io/uploads/user/6dfa60b6-9433-40e5-b36d-9b8d2ad54c0c/zwoa-back3.jpg); */
  /* background-image: url(./assets/images/bg2.png);    */
  background-image: url(./assets/images/extendedbg.jpg );
  /* background-image: url(./assets/images/bg3.png); */
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  background-color: "#282c34";
  color: rgb(204, 204, 204);
}

html {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bluredNav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
  backdrop-filter: blur(8px);
}

.navContainer {
  position: sticky;
  top: 0px;
}

.hover-underline-animation {
  cursor: pointer;
  font-size: calc(7px + 1vmin);
  display: flex;
  position: relative;
  justify-content: center;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(204, 204, 204);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.textStroke {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.contactMe {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20vh;
}

.projects {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20vh;
}

.inlineHighlight {
  /* filter: grayscale(0%); */
  color: #c1ddff;
  transition: all .75s ease-in;
}

.inlineHighlight:hover {
  /* filter: grayscale(0%); */
  color: #628ec5;
  transition: all .10s linear;
}

.modalRole {
  border-bottom: 2px solid var(--lblue);
  padding-top: 2%;
  padding-bottom: 2%;
}

.modalTech {
  padding-top: 3%;
  padding-bottom: 2%;
}

.singleProject {
  padding: 1%;
}

.singleProject img {
  width: 20%;
  border-color: var(--lblue);
  border-radius: 15px;
}

.singleProject h2 {
  height: 25%;
  width: 100%;

}

.singleProject p {
  font-size: calc(5px + 1vmin);
}

.projectText {
  padding-left: 4%;
  color: rgb(204, 204, 204);

}

.nextButton {
  height: 30%;
  border: 2px solid var(--lblue);
  border-radius: 15px;
  text-align: center;
  width: fit-content;
  padding: 1%;
  padding-top: .5%;
  padding-bottom: .5%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
}

.nextButton:hover {
  background-color: #252b34;
}

.modalButton {
  height: 30%;
  border: 2px solid var(--lblue);
  border-radius: 15px;
  text-align: center;
  width: fit-content;
  padding: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 2%;
  margin-top: 10%;
}

.modalButton:hover {
  background-color: #252b34;
}

.modalMain {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  /* background-color: 'background.paper'; */
  border: '2px solid #000';
  box-shadow: 24;
  /* p: 4; */
}

.skills {
  display: flex;
  justify-content: center;
  width: 100%;
}

.skillBox {
  z-index: -2;
  text-align: center;
  width: 40%;
  display: flex;
  justify-content: center;
}

.skillList {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
}

.skillBox a {
  /* width:10%; */
  width: 100%;
  padding: 1%;
  /* filter: grayscale(90%);
  transition: all .75s ease-in; */
}

.skillBox img {
  z-index: -99999;
  width: 100%;
  padding: 1%;
  filter: grayscale(90%);
  transition: all .75s ease-in;
}


.skillBox img:hover {
  filter: grayscale(0%);
  transition: all .20s linear;
}


.contactBox {
  text-align: center;
  width: 25%;
  display: flex;
  justify-content: center;
}

.contactBox a {
  width:25%;
  /* height: 100%; */
  /* width: 100%; */
  padding: 1%;
  /* filter: grayscale(90%);
  transition: all .75s ease-in; */
  display: flex;
  justify-content: space-around;
}

.contactBox img {
  /* width: 25%; */
  padding: 1%;
  filter: grayscale(90%);
  transition: all .75s ease-in;
}


.contactBox img:hover {
  filter: grayscale(0%);
  transition: all .20s linear;
}


.title-div {
  /* background-color: #e5e7f0; */
  /* background-color: #27282c; */
  /* background-color: #282c34; */
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 15vw;
  font-size: calc(25px + 2vmin);
  /* color: rgb(85, 85, 85); */
  color: rgb(204, 204, 204);
}

.desc-div {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding-left: 15vw;
  font-size: calc(5px + 2vmin);
  /* color: rgb(85, 85, 85); */
  color: rgb(204, 204, 204);
}

.bubble {
  background-color: var(--dblue);
  border-color: var(--lblue);
  border-radius: 15px;
  padding: 2%;
  display: flex;
  flex-direction: column;

}

.bubbleTop {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  align-items: left;
  justify-content: center;
  width: max-content;
}

.bubbleBot {
  /* border-top-right-radius: 0px; */
  border-top-left-radius: 0px;
  align-items: left;
  justify-content: center;
  width: max-content;
}

.bubbleHeader {
  font-size: calc(15px + 2vmin);
  /* margin-bottom: 2%; */
}

.footer {
  margin-top: 20%;
}

@media screen and (max-width: 1000px) {
  .skillBox {
    width:  70%;
  }
  .singleProject {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .contactBox {
    width: 40%;
  }
}
@media screen and (max-width: 738px) {
  .skillBox {
    width: 70%;
  }
  .contactBox {
    width: 60%;
  }
}